<h1>Get in touch with us for more information!</h1>

<div class="custom">
<form action="https://formsubmit.co/3033959c34f3089cc5a7b768e5407872" target="_blank" method="POST">

  <label for="name"><b>Your name</b></label>
  <input type="text" name="name" placeholder="Your name" />

  <label for="email"><b>Email</b></label>
  <input type="text" name="email" placeholder="Your email" />
  
  
  <label for="message"><b>Your message</b></label>
  <textarea name="message" placeholder="Your message"></textarea>

  <button class="btn">Send</button>

  <!-- <label for="attachment"><b>Choose file to upload</b></label>
  <input class="btn" type="file" name="attachment" accept="image/*, video/*, .doc, .docx, .pdf" /> -->
</form>
</div>
